html,
body {
	font-family: Verdana, Helvetica, sans-serif;
	text-align:center;
	font-size:15;
}

#container
{
	margin:auto;
	background-color: white;
	width:70%;
	margin-right:3%;
	float:right;
}
#footer
{
	font-size:11;
}
#leftcontainer
{
	margin:auto;
	margin-left:1%;
	background-color: white;
	width:25%;
	float:left;
	min-height:200px;
	padding-top:20px;
}

#contentcol
{
	margin:auto;
	position:relative;
	width:100%;
	margin-top:20px;
	margin-bottom:30px;
	float:none;

}
#addresscol
{
	margin:auto;
	width:100%;
	float:none;
}
#button
{
	margin:auto;
	position:relative;
}

#contentcase, #content
{
	width:400px;
	height:200px;
	position:relative;
	margin:auto;
	margin-bottom:30px;
}
#content
{
	border-color:black;
	border-style:solid;
	border-width:3px;
	font-size:12;
	text-align:left;
	padding:10px;
}

#addresscase, #address
{
	width:50%;
	float:left;
	margin:auto;
	margin-top:50px;
}

#address
{
	border-color:black;
	border-style:solid;
	border-width:3px;
	font-size:12;
	text-align:left;
	padding:10px;
	float:none;
	margin:auto;

}
#returncase
{
	width:50%;
	float:right;
	margin-top:50px;
}

#checkout
{
	width:100%;
	margin-top:240px;
	float:none;
}


.error_strings
{ 
	font-family:Verdana; 
	font-size:10px; 
	color:red;
}
