body {
	font-family: Helvetica, sans-serif;
	text-align:center;
	font-size:15;
	background:#E8E8E8;
	color:white;
}
a img 
{
	border: none; 
}

#logo
{
	margin-right:6%;
}
#leftcontainer
{
	margin-top:90px;
	width:25%;
	float:left;
	min-height:200px;
	text-align:center;
	margin-left:3%;

}
input, textarea, select
{
	font-size:10pt;
	font-family: Helvetica, sans-serif;
	
}

#container, #howcontainer, #confirmcontainer
{
	width:50%;
	min-width:390px;
	margin-right:20%;
	float:right;
	font-size:20;
}
#shadowbox, #howbox, #confirmbox, #contactbox
{

	width:85%;
	margin-left:10%;
	margin-right:10%;
	margin-bottom:10px;
	float:right;
	background-color:#3CA0D1;
	
}
#contentcol
{
	margin-top:20px;
	margin-bottom:20px;
}


.LV_validation_message{
    
    margin:auto;
	position:relative;
	font-size:10pt;
	text-align:right;
	float:none;
}
.LV_valid {
    color:#00CC00;
}
	
.LV_invalid {
    color:#CC0000;
}
    
.LV_invalid_field, 
input.LV_invalid_field:hover, 
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover, 
textarea.LV_invalid_field:active {
	padding:3px;
    border: 1px solid #CC0000;
}

#footer, #indexfooter, #howfooter
{
	font-size:12;
	margin-bottom:10px;
}
#indexfooter
{
	margin-right:3%;
}

/**Confirm**/
#confirmbox
{

	
}
#preview
{
	
	margin:auto;
	margin-top:10px;;
	width:60%;
	min-height:100px;
	background-color:white;
	color:black;
	font-size:13;
	text-align:left;
	padding:10px;
}

#address
{
	background-color:white;
	color:black;
	width:30%;
	margin:auto;
	font-size:13;
	text-align:left;
	padding:10px;
	margin:auto;
	background-color:white;

}
#returncase
{
	width:100%;
	margin:auto;
	background-color:#3CA0D1;
}

#checkout
{
	width:30%;
	margin:auto;
	background-color:white;
	padding:3px;
	margin-bottom:10px;
	border: solid #FFBE73;
}



/**OurStory**/
#aboutcontainer
{
	margin:10%;
	margin-top:2%;
}
#abouttext
{
	width:40%;
	height:400px;
	float:left;
	text-align:left;
	font-size:13;
	padding-left:5%;
	padding-right:5%;
	padding-top:20px;
	padding-bottom:2%;
	background-color:#3CA0D1;
	margin-bottom:10px;
}
#aboutjake
{
	width:25%;
	float:left;
	background-color:#3CA0D1;
	padding-top:20px;
	height:400px;
	padding-bottom:2%;
	margin-bottom:10px;
	
}
#aboutalex
{
	
	width:25%;
	float:left;
	background-color:#3CA0D1;
	height:400px;
	padding-top:20px;
	padding-bottom:2%;
	margin-bottom:10px;
}

/**How it Works**/
#howcontainer
{
	width:50%;
}

#howbox
{
	font-size:13;
	text-align:left;
	padding-top:10px;
	padding-left:3%;
	padding-right:1%;
}
#howfooter
{
	margin-right:11%;
}
/**Contact Us**/
#contactbox
{
	background-color:#3CA0D1;
	width:75%;
	padding-left:5%;
	padding-right:5%;
	padding-bottom:2%;
	float:right;
	margin-left:10px;
}

/**Terms**/
#termsleft
{
	text-align:left;
	font-size:10;
	width:50%;
	float:left;
	color:black;
}
#termsright
{
	text-align:center;
	font-size:80;
	width:50%;	
	float:right;
	color:black;
}
#termscontainer
{
	width:70%;
	margin:auto;
	margin-top:1%;
}