body {
	font-family: Helvetica, sans-serif;
	text-align:center;
	font-size:15;
	background:#F0F0F0;
	color:white;
}
a img 
{
	border: none; 
}

#leftcontainer
{
	margin-top:10px;
	background-color:#F0F0F0;
	width:32%;
	float:left;
	min-height:200px;
	padding-top:20px;
	text-align:center;
}
input, textarea, select
{
	font-size:10pt;
	font-family: Helvetica, sans-serif;
	
}

#container, #howcontainer
{
	margin:auto;
	background-color: #F0F0F0;
	width:63%;
	float:right;
	font-size:20;
}
#shadowbox, #howbox
{

	width:85%;
	margin-left:10%;
	margin-right:10%;
	margin-bottom:10px;
	float:right;
	background-color:#3CA0D1;
	
}
#contentcol
{
	margin-top:20px;
	margin-bottom:20px;
}


.LV_validation_message{
    
    margin:auto;
	position:absolute;
	font-size:10pt;
	margin-left:5px;
	text-align:left;
}

#footer, #indexfooter
{
	font-size:11;
	margin-bottom:10px;
}
#indexfooter
{
	margin-right:5%;
}

/**Confirm**/
#confirmbox
{

	width:63%;
	margin-bottom:10px;
	float:right;
	background-color:#F0F0F0;
	color:black;
	margin-right:3%;
	
}
#preview
{
	
	margin:auto;
	margin-top:10px;;
	width:60%;
	min-height:100px;
	background-color:#3CA0D1;
	font-size:13;
	text-align:left;
	padding:10px;
}

#address
{
	
	width:30%;
	margin:auto;
	font-size:13;
	text-align:left;
	padding:10px;
	margin:auto;
	background-color:#3CA0D1;

}
#returncase
{
	width:60%;
	margin:auto;
	padding:10px;
	background-color:#3CA0D1;
}

#checkout
{
	width:100%;
}



/**OurStory**/
#aboutcontainer
{
	margin:10%;
	margin-top:2%;
}
#abouttext
{
	width:40%;
	height:400px;
	float:left;
	text-align:left;
	font-size:13;
	
	padding-left:5%;
	padding-right:5%;
	padding-top:20px;
	padding-bottom:2%;
	background-color:#3CA0D1;
	margin-bottom:10px;
}
#aboutjake
{
	width:25%;
	float:left;
	background-color:#3CA0D1;
	padding-top:20px;
	height:400px;
	padding-bottom:2%;
	margin-bottom:10px;
	
}
#aboutalex
{
	
	width:25%;
	float:left;
	background-color:#3CA0D1;
	height:400px;
	padding-top:20px;
	padding-bottom:2%;
	margin-bottom:10px;
}

/**How it Works**/
#howcontainer
{
	width:60%;
}

#howbox
{
	font-size:13;
	text-align:left;
	padding-left:15px;
	padding-right:15px;
	padding-top:10px;

}

/**Terms**/
#termsleft
{
	text-align:left;
	font-size:10;
	width:50%;
	float:left;
	color:black;
}
#termsright
{
	text-align:center;
	font-size:80;
	width:50%;	
	float:right;
	color:black;
}
#termscontainer
{
	width:70%;
	margin:auto;
	margin-top:5%;
}