html,
body {
	font-family: Verdana, Helvetica, sans-serif;
	text-align:center;
	font-size:15;
}

#leftcontainer
{
	margin:auto;
	margin-left:1%;
	background-color: white;
	width:25%;
	float:left;
	min-height:200px;
	padding-top:20px;
}
input, textarea, select
{
	font-size:11pt;
}
#container
{
	margin:auto;
	background-color: white;
	width:70%;
	margin-right:3%;
	float:right;
}
#shadowbox
{
	-moz-box-shadow: 3px 3px 4px 1px #686868;
	-webkit-box-shadow: 3px 3px 4px 1px #686868;
	box-shadow: 3px 3px 4px 1px #686868;
	width:80%;
	margin-left:10%;
	margin-right:10%;
	margin-bottom:20px;
	float:right;
}
#contentcol
{
	margin:auto;
	position:relative;
	width:100%;
	margin-top:20px;
	margin-bottom:30px;
	float:none;

}
#addresscol
{
	margin:auto;
	width:100%;
	float:none;
}

.error_strings
{ 
	font-family:Verdana; 
	font-size:12pt; 
	color:red;
}
.LV_validation_message{
    color:#900000;
    margin:auto;
	position:absolute;
	width:200px;
	font-size:10pt;
	margin-left:10px;
	text-align:left;

}

#footer
{
	font-size:11;
	margin-bottom:10px;
}

/**Confirm**/
#previewcase, #preview
{
	width:400px;
	height:200px;
	position:relative;
	margin:auto;
	margin-bottom:30px;
}
#preview
{
	border-color:black;
	border-style:solid;
	border-width:3px;
	font-size:12;
	text-align:left;
	padding:10px;
}

#addresscase, #address
{
	width:50%;
	float:left;
	margin:auto;
	margin-top:50px;
}

#address
{
	border-color:black;
	border-style:solid;
	border-width:3px;
	font-size:12;
	text-align:left;
	padding:10px;
	float:none;
	margin:auto;

}
#returncase
{
	width:50%;
	float:right;
	margin-top:50px;
}

#checkout
{
	width:100%;
	margin-top:240px;
	float:none;
}



/**OurStory**/
#aboutcontainer
{
	margin:10%;
	margin-top:5%;
}
#abouttext
{
	width:50%;
	float:left;
	text-align:left;
	font-size:13;
}
#aboutjake
{
	width:25%;
	float:left;

}
#aboutalex
{
	width:25%;
	float:left;
}
/**How it Works**/
#howcontainer
{
	margin-left:10%;
	margin-right:10%;
	margin-top:5%;
}

/**Terms**/
#termsleft
{
	text-align:left;
	font-size:10;
	width:50%;
	float:left;
}
#termsright
{
	text-align:center;
	font-size:80;
	width:50%;	
	float:right;
}
#termscontainer
{
	width:70%;
	margin:auto;
	margin-top:5%;
}