html,
body {
	font-family: Helvetica, sans-serif;
	text-align:center;
	font-size:15;
	background:#F0F0F0;
}

#leftcontainer
{
	margin-left:1%;
	margin-top:10px;
	background-color:#F0F0F0;
	width:30%;
	float:left;
	min-height:200px;
	padding-top:20px;
}
input, textarea
{
	font-size:10pt;
}
select
{
	font-size:20pt;
}
#container
{
	margin:auto;
	background-color: #F0F0F0;
	width:64%;
	margin-right:3%;
	float:right;
	font-size:20;
}
#shadowbox
{

	width:80%;
	margin-left:10%;
	margin-right:10%;
	margin-bottom:10px;
	float:right;
	background-color:#3CA0D1;
	color:white;
}
#contentcol
{
	margin:auto;
	position:relative;
	width:100%;
	margin-top:20px;
	margin-bottom:20px;
	float:none;

}
#addresscol
{
	margin:auto;
	width:100%;
	float:none;
}

.LV_validation_message{
    color:white;
    margin:auto;
	position:absolute;
	font-size:10pt;
	margin-left:5px;
	text-align:left;
}

#footer
{
	font-size:11;
	margin-bottom:10px;
}

/**Confirm**/
#confirmbox
{

	width:63%;
	margin-bottom:10px;
	float:right;
	background-color:#F0F0F0;
	color:black;
	margin-right:3%;
	
}
#preview
{
	color:white;
	margin:auto;
	margin-top:10px;;
	width:60%;
	min-height:100px;
	background-color:#3CA0D1;
	font-size:13;
	text-align:left;
	padding:10px;
	-moz-box-shadow: 3px 3px 4px 1px #686868;
	-webkit-box-shadow: 3px 3px 4px 1px #686868;
	box-shadow: 3px 3px 4px 1px #686868;
}

#address
{
	color:white;
	width:30%;
	margin:auto;
	font-size:13;
	text-align:left;
	padding:10px;
	margin:auto;
	-moz-box-shadow: 3px 3px 4px 1px #686868;
	-webkit-box-shadow: 3px 3px 4px 1px #686868;
	box-shadow: 3px 3px 4px 1px #686868;
	background-color:#3CA0D1;

}
#returncase
{
	width:60%;
	margin:auto;
	padding:10px;
	-moz-box-shadow: 3px 3px 4px 1px #686868;
	-webkit-box-shadow: 3px 3px 4px 1px #686868;
	box-shadow: 3px 3px 4px 1px #686868;
	background-color:#3CA0D1;
}

#checkout
{
	width:100%;
}



/**OurStory**/
#aboutcontainer
{
	margin:10%;
	margin-top:5%;
}
#abouttext
{
	width:50%;
	float:left;
	text-align:left;
	font-size:13;
}
#aboutjake
{
	width:25%;
	float:left;

}
#aboutalex
{
	width:25%;
	float:left;
}
/**How it Works**/
#howcontainer
{
	text-align:left;
	margin:auto;
	width:48%;
	margin-top:1%;
	margin-right:8%;
	margin-left:8%;
	margin-bottom:10px;
	float:right;
	font-size:19;
	background-color:#3CA0D1;
	padding:20px;
	color:white;
}

/**Terms**/
#termsleft
{
	text-align:left;
	font-size:10;
	width:50%;
	float:left;
}
#termsright
{
	text-align:center;
	font-size:80;
	width:50%;	
	float:right;
}
#termscontainer
{
	width:70%;
	margin:auto;
	margin-top:5%;
}